@page
@model KeyVaultSecretsModel

@{
    ViewData["Title"] = "KeyVaultSecrets";
}

<h2>KeyVault Secrets</h2>

<p>
    The KeyVault secret is: <strong> @Model.FromKeyVault</strong>
    <br />
    The Config setting from Key Vault is: <strong>@Model.FromConfig</strong>
</p>
